<p>안녕하세요, <strong>${mid}님</strong> Apollo 관리자 입니다.</p>

<p>요청하신 임시 비밀번호 보내드립니다. </p>

<p>임시비밀번호로 로그인 하시고 비밀번호를 변경하시고 사용하시면 됩니다. </p>

<p>감사합니다. </p>

<p> 임시 비밀번호 : <strong>${pwd}</strong></p>

<p>앞으로도 많은 방문 부탁드립니다.</p>

<img src="https://cafeptthumb-phinf.pstatic.net/MjAxODA2MTFfNTAg/MDAxNTI4Njg4MTM3OTQ4.TjtkuCBsb1G1X1oX-8lxZEZKdNb5caqzEuBMYR5a9F0g.9_PqglArXJQMiIUYjXGqhZnMEXReGAL1cdKre3DTfhwg.JPEG.pvkpkv0801/Apollo.jpg.jpg?type=w740" 
	style="width: 300px; height:200px"></img>

<p>&nbsp;</p>

