@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 폰트 */
html, body{
  font-family: 'Noto Sans KR';
  margin:0;
  padding:0;
  height:100%;
}

/*///////////////////////////////main.jsp 구성 요소 css*/
.Apollo-main{
	display:flex;
	height:100%;
	width:100%;
	white-space: nowrap;
	flex-direction: column;
}
.main-header-panel{
	display:block;
	flex:0 0 auto;
	height: 50px;
	width: 100%;
}

.main-body-panel{
	flex:1 1 auto;
	display: flex;
	white-space:nowrap;
	flex-direction: row;
}

.main-side-panel{
	display:block;
	flex:0 0 auto;
	position: relative;
}

.main-box-panel{
	flex:1 1 auto;
	display:block;
	position: relative;
	overflow: hidden
}

#header{
	margin-bottom: 0 !important
}

#main-box{
    height:100%;
    margin-left: 0;
}

.navbar.inside-header{
   background-color: #f4faff;
   color:black;
   min-height:35px;
   text-align: center;
}

.inside-header ul li{
   height:35px;
   
}

.inside-header a{
   height:35px;
   font-size: 17px;   
   color:black;
   padding: 5px
}
.navbar{
	border:0px;
}

.navbar.inside-header.inside-header-step{
   background-color: transparent;
   margin-bottom: 5px !important;
}

.navbar.inside-header.inside-header-step a:hover{
   background-color: transparent;
}

.dropdown-submenu > a:hover{
	text-decoration: none
}
.dropdown-submenu > a{
	color: black
}

/* /////////////////////////// 로그인 css /////////////////////////////////////////////////////  */
/* 로그인 input 간격  */
.input-group{
margin-top:1em;
margin-bottom:1em;
}

.login-box{
   line-height:2.3em;
   font-size:1em;
   margin-top:1em;
   margin-bottom:1em;
   padding-top:0.5em;
   padding-bottom:0.5em;
}

/* 모달 센터 맞추는 부분  */
.modal {
        text-align: center;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}

/* 버튼 맞추는 부분 */
.login-btn{
   margin-right: 40px; 
   padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #000069;
    color:white;
    
}

.buy-license-btn{
   margin-right: 40px; 
   padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left:30px;
    background-color: #B9062F;
    color:white;
}




/* 버튼 맞추는 부분 */
.btn2{
   margin-right: 180px;
   padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #000069;
    color:white;
}

.btn3{
   margin-right: 40px; 
   padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #B9062F;
    color:white;
    margin-left:160px;
    
}

/* 모달 색깔 바꾸는 부분 */
#modal,#modal2,#modal3{
   background-color: white;
}

.footer{ /* 꼬리말 부분 */
text-align: center;
color: #999999;
}

.legend{
text-align: center; 
font-size: 40px;
}

.header{
   margin-right: 0px;
    margin-left: 500px;
    margin-top: 250px;
}


.login-container{
width: 350px;
margin-top: 10%
}


.p-color{
font-size: 15px;
text-align: center; 
color: black;
}
.p-color2{
font-size: 15px; 
text-align: center; 
color: black;
}
.i-width,.i-width2{
width:40px;
}
.login-head{

    margin-bottom: 25px;
 
     font-size:40px;
     text-align:center;    
}
.div-font-size{
   font-size: 21px; 
   text-align: center;
}

.input-size{
   width: 326px;
}

 .font-header6{
     margin-left: 35px;
 }
 
 /* /////////////////////////// 로그인 css끝 /////////////////////////////////////////////////////  */



 
  /* ///////////////////////////헤더와 사이드바/////////////////////////////////////////////////////  */



#header {
   background-color: rgb(0, 0, 50);
   z-index: 2;
   border-radius: 0px
}

#my-side-nav {
   height:100%;
   background-color: rgba(180, 197, 209, 0.15);
   overflow-y: auto;
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
   display: flex;
   white-space: nowrap;
   flex-direction: column;
   padding-right:5px;
   padding-left:5px;
}




#loginimg { /* 로그인 이미지 색상  */
   width:30px;
   height:30px;
   border-radius:50%;
   background-color: white
}

.navbar-header {
   width: 250px;
   height: 100%
}

#header-right-wrapper > li {
	justify-content:center;
	display: flex;
	align-items: center;
}

#header-user-name{
	padding-left: 5px
}
.side-nav {
   height: 100%;
   width: 250px;
   position: relative;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   transition: 0.5s;
 
}



 .side-nav a {
    text-decoration: none;
    transition: 0.3s;
    color:#333;
	text-align: center;
	align-items: center;
} 

#side-bar-add-project:hover{
	cursor:pointer;
	
}


.side-dir-arrow{
   margin-right:5px;
   font-size: 13px;
   padding-left: 3px;
   padding-right: 3px; 
   width: 14px;
   min-width:14px;
   max-width: 14px;
   box-sizing: border-box;
}

.side-dir-folder-icon{
   margin-right:3px;
   font-size: 13px;
   padding-right: 3px;
   color:#f1c40f;
}

.side-dir-step-icon{
   margin-right:3px;
   font-size: 13px;
   padding-left: 3px;
   padding-right: 3px;

}

.side-dir-project-icon{
	width: 13px;
	height: 15px;
	display: flex;
  	align-items: center;
  	white-space: nowrap;
  	text-align: center;
  	border-radius: 40%;
  	justify-content: center;
  	margin-right: 4px;
 
}

.side-pstatus > .side-dir-arrow{
   font-size: 15px !important;
 
}

.side-dir-arrow:hover{
   background-color: #cccccc;
}


/* .side-nav a:hover {
   background-color: #e0e0e0 !important;
} */

.side-pstatus{
	padding-left:16px;
	padding-bottom:6px !important;
	padding-top:6px !important;
}

.side-content{
	padding-top:4px;
	padding-bottom:4px;
	padding-right:1px;
	color:#2c2d31 !important;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis !important;
	width: 100%;

}

.side-content > .side-content-name{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	
}
.side-content:hover{
	 background-color: #e0e0e0 !important;
	 cursor: pointer;
}


.side-content.side-project{
	padding-left:40px !important;
}

.side-folder{
	padding-left:60px !important;
	
}
.side-step{
	padding-left:60px !important;
}

.side-step.side-step-in-folder{
	padding-left:80px !important;
}



.side-dir a {
   font-size: 12px
}

.add-project {
   color: black
}

.apollo-logo {
   color: white;
   padding-left: 50px;
   font-size: 30px;
   margin: 0px
}

.header-menu {
   font-size: 18px;
}

a {
   cursor: pointer;
}

.side-nav span {
   margin-right: 6px;
 }

.custom-menu {
   z-index: 1000;
   position: absolute;
   overflow: visible;
   border: 1px solid #CCC;
   white-space: nowrap;
   font-family: sans-serif;
   background: #FFF;
   color: #333;
   border-radius: 5px;
   padding: 0px;
}

/* Each of the items in the list */
.custom-menu li {
   padding: 8px 12px;
   cursor: pointer;
   list-style-type: none;
   transition: all .3s ease;
   user-select: none;
}

.custom-menu li:hover {
   background-color: #DEF;
}

.dropdown-submenu {
   position: relative;
}

.dropdown-submenu .dropdown-menu {
   top: 0;
   left: 100%;
   margin-top: -1px;
   min-width: 100px;
}

/* Modal */
label {
   display: block;
}

#add-project-name { /* 프로젝트 생성 모달창 프로젝트명 text */
   margin-bottom: 12px;
   width: 100%;
   padding: .4em;
}

.method { /* 프로젝트 생성 모달창 방법론 */
   font-weight: bold;
}

.modal-title {
   font-weight: bold;
   padding-top: 5px;
}

.project-setting-left { /* 프로젝트 생성 모달창 vertical line  */
   padding-left: 25px;
   padding-right: 25px;
}

.project-setting-right { /* 프로젝트 생성 모달창 vertical line  */
   border-left: 1px solid rgb(230, 230, 230);
   padding-left: 25px;
   padding-right: 25px;
}

.date {
   margin-right: 3px;
   width: 80%;
}

.add-btn {
   background-color: rgb(178, 28, 74);
   color: white;
   width: 80px;
}


.cancel-btn {
   background-color: rgb(0, 0, 50);
   color: white;
   width: 80px;
}

.modal-add-project-dialog {
   position:absolute; 
    top:50%; 
    left:50%; 
   width: 850px;
   height: 515px;
   overflow: hidden;
   vertical-align: middle;
   margin-top:-370px; 
    margin-left:-25%;
}
.modal-add-project-content {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}
.modal-folder-dialog {
   position:absolute; 
   top:50%; 
   left:50%; 
   width: 330px;
   vertical-align: middle;
   margin-top:-115px; 
   margin-left:-230px;
}
.modal-folder-text {
   width: 100%;
}

.modal-folder-content {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

.modal-step-dialog {
   position:absolute; 
   top:50%; 
   left:50%; 
   width: 530px;
   height: 640px;
   vertical-align: middle;
   margin-top:-350px; 
   margin-left:-250px;
}

.modal-step-content {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

#add-step-description {
   width: 100%;
   height: 30%;
}
.add-step-name {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
}
#add-step-modal-hr {
   padding-top: 0.1px;
   padding-bottom: 0.1px;
}

.header_logo{
   margin-top: 5px;
   width: 80px;
   height: 35px
}


/* Project header부분  */
.navbar.inside-header{
   background-color: #f4faff;
   color: black;
   height: 25px;
   
}

/* /////////////////////////////////회원가입 //////////////////////////////////////////// */
.div-width{
   width:40%
}

.div-font{
   text-align:left;
}
.div-btn-position{
   text-align:right;
}

.btn-size{
   width:125px;
   height:50px;
   margin-right: 15px;
   background-color: B9062F;
   color:white;
}
.container{
   margin-top:60px;
}
.footer-color{
   color:999999;
}
.btn-color{
background-color: 999999;
   color: white;
}
.header-fontsize{
   font-size:45px;   
}
.sign-account{
   text-align:left;
}
.hr-color{
   border: Inset 1px #999999;   
}
.inside-header {
   background-color: #f4faff;
   height:30px;
   color: black;
}

.profile-img-container{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:white;
  overflow: hidden;
  cursor: pointer;
  float:left;
  box-shadow: 1 1px 1px 1 rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(230, 230, 230);
  margin-right: 3px;
}

.profile-img{
    width: 100%;
    height: 100%;
}

.main-noproject-content {
	position: absolute;
	top:50%;
	left:55%;
	transform:translate(-50%, -50%);
	font-weight: bold;
	
}
#main-project-add-btn {
	background-color:#ffc30d;
	color:white;
	width:250px;
	height:50px;
	font-size:20px;
}
#main-add-project-img {
	width:20px;
	height:10px;
}
.profile-modal-left {
	height: 150px;
}
#profile-modal-content{
	height:100%;
	width:100%;
}
#profile-modal-img {
	margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #9E9E9E;
}
.profile-modal-dialog {
	width: 500px;
    height: 250px;
}
.profile-modal-info-table tbody,tr,th,td{
	width:300px;
	border-right:white;
	border-left:white;
	border-top:white;
	border-bottom:white;
	padding:5px;
}
.update-step-name {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
}
/* task 수정,삭제 모달_정권 ---------------------- 시작 */
#star_trash{
  text-align: right;
}

#task_star{
 color : #ffc30d
}

.modal-task-delete{
	 display: inline-block;
     text-align: left;
     vertical-align: right;
}
#hedaer-logout-dialog {
	width:55%;
	position:absolute;
	left: 30%;
}

.modal-header-logout-content {
	width:55%;
}
#side-new-project-btn {
	color:rgb(178, 28, 74);
	margin-left: 5px;
	font-size: 20px;
}
/* task 수정,삭제 모달_정권 ---------------------- 종료 */

.assignee-left-div{
	padding: 20px;
	padding-right: 20px;
	background-color: white;
	border-radius: 3px
}

