@charset "UTF-8";

textarea,input[type=text], select{
	resize: none !important;
	border-radius: 3px;
	border: 1px solid #dddddd	
}

.inbox-header{
	height: 50px;
	background-color: #cccccc;
	size: 50px;
	padding-top:5px;
	font-size:30px;
	margin-bottom: 0px;
}
.inbox-main-container{
    background: rgb(0, 0, 50);
    width: 100%;
    height: 100%;
}
.inbox-main-container .inbox-section-left, .inbox-section-right {
	background: #ffffff;
	border-radius: 3px;
	width: 49%;
	height: 100%;
}
.inbox-section-left {
	float: left;
	margin-left: 0.66%;
}


.inbox-section-right {
	float: left;
	margin-right: 0.66%;
}

.inbox-section-center {
	float: left;
	width: 0.66%;
	height: 100%;rgb
	background: rgb(0, 0, 50);
}

#center {
	cursor: e-resize;
}
.inbox-list{
	padding-bottom: 10px;
	padding-top: 10px;
	
}

.inbox-list:hover{
	background-color: rgba(163, 172, 182, 0.2);
	
}

.yyTask_RUD_Modal{
	margin-left: 10px;
	font-size: 13px;
	margin-bottom:0px;
	float: left;
	border: 1px solid rgb(200, 201, 203);
}


.inbox-span1{
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 2px;
	color:#717171;
	
}
.inbox-span2{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:0px;
	color:#717171;
	font-size: 11px;
}
.inbox-span3{
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom:0px;
	font-size: 13px;
	color:#717171;
}
.inbox-div4{
	margin:10px;
	margin-left:20px;
	margin-bottom:0px;
	font-size: 13px;
	white-space: normal;
}
.inbox-hr{
	margin:0px;
	
}
.inbox-nav {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.inbox-topnav {
  overflow: hidden;
  background-color: #f5f8fc;
  color: #6b99c7;
}

.inbox-topnav a {
  float: left;
  display: block;
  color: #6b99c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}


.inbox-topnav a:hover {
border-bottom: 2px solid transparent;
  border-color: rgb(9, 142, 225,0.3);
}


.inbox-active {

  height:20px;
  background-color: #4CAF50;
  color: white;
}

.inbox-topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .inbox-topnav a:not(:first-child) {display: none;}
  .inbox-topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .inbox-topnav.responsive {position: relative;}
  .inbox-topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .inbox-topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}