#intro-navber-btns {
	align-items:center;
	margin-top: 7px;
    margin-right: 25px;
}
#intro-login-btn {
	width: 80px;
	background-color: #008500;
	color:white;
}
#intro-main-btn {
	width: 80px;
	background-color:#B9062F;
	color:white;
}
#intro-page-top {
	height:80vh; /* vh는 view height의 약자이며, 100vh가 현재창의 100% 높이 */
	background-color:#f5f8fc;
}
.intro-page-top-img {
	display:flex;
	position: relative;
	background-image: url(../img/intro-coll-img.jpg);
	width:100vw;
	height:80vh; 
	background-size: cover;
}
.intro-page-top-img-content {
	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: white;
    z-index:1;
    text-align: center;
}
#intro-page-top-img-content-logo {
	font-size: 70px;
}
#intro-page-top-img-content-sub {
	font-size: 50px;
}
.intro-page-top-img-cover {
   position: absolute;
   height: 80vh;
   width: 100%;
   background-color: rgba(244, 246, 248, 0.48);                                                           
   z-index:1;
}
.intro-check-img { /* circle img */
	font-size: 150px;
	color: rgb(52, 152, 219);
}
.intro-page-slide-img1 {
	background-color:#2BACF1;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-page-slide-img1 > img {
    width: 900px;
    height: 450px;
    margin-top: 5%;
}
.intro-page-slide-img2 {
	background-color:rgb(241, 196, 15);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.intro-page-slide-img2 > img {
    width: 900px;
    height: 450px;
    margin-top: 5%;
}
.carousel-caption { /* img 상단에 caption 넣기 */
	top: 0;
    bottom: auto;
}
.carousel-control.left{
	background-image: none !important;  
}
.carousel-control.right{
	background-image: none !important;
}
.intro-page-three-content {
	display: flex;
	text-align: center;
	height: 500px;
}
.intro-page-content {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
}
#intro-footer {
    background-color: #f2f2f2;
    padding: 25px;	
}