#header-member-table {
	width:95%;
}

#header-member-table thead>tr>th {
	text-align: center;
	padding-bottom: 16px;
	background-color: rgba(224, 224, 224, 0.66);
}

#header-member-table tbody>tr>td {
	text-align: center;
}