#header-member-table {
	width:90%;
}

#header-member-table>thead>tr>th {
	text-align:center;
	padding-bottom:14px;
	background-color:#504f4f;
	color:#8b9197;
}

#header-member-table>tbody>tr>td {
	text-align:center;
	color:#5285b8;
}

#header-member-table>tbody :hover {
	cursor: pointer;
	background-color: #e0e0e0;
}
/* #header-member-table>thead, tbody {
	border-left-color: white;
	border-right-color: white;
} */