@charset "UTF-8";
.main-container div{
	float: left;
	background: #ffffff;
	border-radius:3px;
	width: 49%;
	height: 100%;
}
.main-container{
	background: rgb(0, 0, 50);
	width: 100%;
	height: 100%;
}
.main-section-left{
	margin-left: 0.66%;

}
.main-section-center{
	width:0.66%;
	background: rgb(0, 0, 50);
}
.main-section-right{
	margin-right:0.66%;
}

.container{
   margin-top:0px;
   padding-left: 0px;
   padding-right: 0px;
}
