@charset "UTF-8";
.mywork-left-today,.mywork-right-thisweek,.mywork-right-nextweek,.mywork-right-later{
  zoom: 1;
  width: 100%;
  height:auto;
  box-sizing: border-box;
}
.mywork-header-wrapper{
  height: auto;
  box-sizing: content-box;
}
.mywork-header{
  border-right: 0;
  border-left: 0;
  box-sizing: content-box;
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 0!important;
  overflow: hidden;
  background: #f3f3f4;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  box-sizing: border-box;
}
.mywork-header-textwrapper{
  background-color: #f5f5f5;
  padding: 10px 0 10px 18px;
  font-size: 13px;
  color: #31383f;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
}
.mywork-header-date{
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  color: #969595;
  margin-left: 10px;
  box-sizing: border-box;
}
.mywork-header-count{
  font-size: 11px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #666;
  color: #fff;
  background-color: #aaa;
  text-align: center;
  border-radius: 2px;
  display: block;
  float: right;
  padding: 0 5px;
  height: 16px;
  margin-right: 12px;
  line-height: 15px;
}
.mywork-main-tasks{
  height: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;

}
.mywork-main-task-wrapper{
  height: 50px;
  box-sizing: content-box;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  display: block;
}
.mywork-main-task-wrapper:hover{
  background-color:#f8fafc;
}
.mywork-main-task{
  box-sizing: border-box;
  width: 100%;
  height: 49px!important;
  padding: 0 0 8px;
  display: block;
}
.mywork-main-task-checkbox{
  width: 18px;
  padding: 15px 0 0;
  float: left;
  box-sizing: border-box;
}
.mywork-main-task-members{
  float: left;
  position: relative;
  width: 50px;
  height:50px;
  box-sizing: border-box;
  align-self: center;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  display: block;
  display: flex;
  align-items: center;
}
.mywork-main-task-member{
  margin-left:10px;
  width: 32px;
  height: 32px;
  border-radius: 2px;
}
.mywork-main-task-date{
  box-sizing: content-box;
  font-size: 13px;
  color: #504f4f;
  font-weight: 400;
  float: right;
  text-align: right;
  vertical-align: top;
  padding: 6px 18px 0 0;
  width: 54px;
  line-height: 18px;
} 
.date-overdue{
  color: #a40d0d;
}
.mywork-main-task-name{
  display: block;
  padding: 0 111px 0 78px;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}
.mywork-main-task-name-wrapper{
  height: 21px!important;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 4px 0 0;
}
.mywork-main-task-name-tag{
  background: 0 0;
  font-size: 13px;
  color: #111;
  line-height: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  zoom: 1;
  max-width: 100%;
  margin-right: 9px;
}
.mywork-main-task-name-status{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.87);
  margin: 3px 2px;
  padding: 0 3px;
  border-radius: 2px;
  flex-shrink: 0;
  height:21px;
}
.mywork-main-task-name-detail{
  display: inline;
  margin-right: 9px;
  vertical-align: top;
  font-size: 12px;
  color: #504f4f;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
}
.mywork-main-task-steps{
  background: 0 0!important;
  font-size: 11px;
  overflow: hidden;
  margin: 0 0 0 78px;
  height: 19px;
  box-sizing: border-box;

}
.mywork-main-task-step{
  background-color: #fff;
  cursor: pointer;
  margin-left: 0;
  position: relative;
  z-index: 0;
  color: #555;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: baseline;
  border-radius: 2px;
  line-height: 16px;
  padding: 0 6px;
  margin: 0 6px 0 0;
  border: 1px solid #e0e0e0;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0 1px rgba(255,255,255,.2);
}
.mywork-main-task-step:hover{
  border: 1px solid #a0a0a0;
}
.mywork-main-task-step-name{
  box-sizing: border-box;
}            