/* 개인정보수정 */

.modal-edit-profile-dialog {
	width: 500px;
	background-color: rgb();
	
}
#edit-profile-img-content {
	align-content: center;
}
.edit-profile-part1 {
	align-items: center;
    align-content: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
#edit-memberinfo-hr {
	color:rgb(230, 230, 230);
}

#edit-profile-modal-img {
	width: 20%;
	border: 0.5px solid rgba(0, 0, 0, 0.08);
	border-collapse: collapse;
}

.edit-profile-all-title {
	margin-bottom: 15px;
}

.edit-profile-title {
	font-weight: bold;
}
#profile-apollokey-check {
	background-color:#000032;
	color:white;
    font-size: 12px;
    padding: 2px 10px;
    text-align: center;
    margin-bottom: 5px; 
}
.modal-edit-pwd-content {
	width: 330px;
	height: 310px;
}
.edit-profile-input-tag {
	border-radius: 3px;
    border: 1px solid #dddddd;
    width: 100%;
}
#edit-pwd-btn{
	background-color: #000032;
	color: white;
	width: 40%;
}
#edit-profile-title-apollokey {
	display: flex;
}
#edit-profile-apollokey-label {
	flex: 1 1 auto;
}
#update-edit-profile-btn {
	width: 40%;
	color:white;
	background-color: #b21c4a;
}
.edit-profile-part2-body {
	display: flex;
    align-content: center;
    justify-content: center;
}
.edit-pwd-input-tag {
	border-radius: 3px;
    border: 1px solid #dddddd;
}
    