#projectinfo_outerbox{
  margin-left: 11%;
  margin-right: 9%;
}

#projectinfo_first_row{
  padding: 20px
}

#projectinfo_Task_Status_Donut{
  height:400px;
  margin: 2px;
  margin-right: 15px;
  padding:10px;
  background-color:#f0f0f0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px #cccccc;
  margin-bottom: 15px;
  width: 47%;
  
}

#prison_Donut{
  height:350px;
}

#projectinfo_Task_Situation_Table{
   overflow:auto;
   height:400px;
   margin: 2px;
   
   padding:10px;
   background-color:#f0f0f0;
   border-radius: 10px;
   box-shadow: 3px 3px 5px 0px #cccccc;
   margin-bottom: 15px;
   width: 47%;
   
}

#projectinfo_Step_Progress_Graph{
   height:550px;
   margin: 1px;
   padding:10px;
   background-color:#f0f0f0;
   border-radius: 10px;
   box-shadow: 3px 3px 5px 0px #cccccc;
   width: 96%;
}

#projectinfo_Project_Member_Table{
  overflow:auto;
  height:400px;
  margin: 1px;
  padding:10px;
  background-color:#f0f0f0;
     border-radius: 10px;
   box-shadow: 3px 3px 5px 0px #cccccc;
  width: 96%;
}

#task_progress_table{
	text-align: center
}

#task_progress_table th {
	text-align: center;
	width : 50%
	}

#prison_progressbar{
	width: 100%;
	height: 400px
}

#project_member_table{
	text-align: center
}

#project_member_table th{
	text-align: center;
	width : 20%
}

#project_member_add_modal{
	width : 100%
}

#project_pmember_table{
	text-align: center;
}

#project_pmember_table th{
	text-align: center;
}

