.project-page-table{
	width:95%;
}
.project-page-table>thead>tr>th {
	text-align: center;
	padding-bottom: 10px;
	background-color: #e6e7e8;
	color:#978d8b;
	overflow: hidden;
}
.project-table-tr-steps {
	/* background-color: #f4faff */
	font-weight: bold;	
}
.project-table-td-tstatus {
	color:#2d2d2d;
	text-align:center;
	font-size: 12px;
}
.project-table-tr-folders {
	/* background-color: #f4faff */
	font-weight: bold;
}
.project-table-day {
	text-align:center;
}

.project-page-table-title {
	width: 50%;
}

.project-table-tr-tasks:hover {
	cursor:pointer;
	background-color: #e0e0e0;
}
.project-table-duration {
	text-align:center;
}
.project-page-table>tbody {
	font-size: 12px;
}
.project-table-content {
	overflow-y: hidden; 
}
.project-table-content::-webkit-scrollbar{
	display:none;
}
#proejct-page-table-no-data{
	float: inherit;
}
#proejct-page-table-img {
	width: 30%;
}
#proejct-page-table-no-data-content {
	font-size: 30px;
	font-weight: bold;
}
.project-table-member-image{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

#project-table-member-td{
	display: flex;
    align-items: center;
    justify-content: center;
}