.project-page-table{
	width:95%;
}
.project-table-tr-steps {

	background-color: #8d949a0f;
	font-weight: bold;
}
.project-table-td-tstatus {
	text-align:center;
	color:white;
}
.project-table-tr-folders {
	background-color:#66696b1c;
	font-weight: bold;
}
.project-table-day {
	text-align:center;
}

.project-page-table-title {
	width: 50%;
}
.project-page-table>thead>tr>th {
	text-align: center;
	padding-bottom: 10px;
	background-color: #e6e7e8;
	color:black;
	overflow: hidden;
}

.project-table-tr-tasks:hover {
	cursor:pointer;
	background-color: #e0e0e0;
}
.project-table-duration {
	text-align:center;
}
.project-page-table>tbody {
	font-size: 13px;
}
.project-table-content {
	overflow-y: hidden; 
}
.project-table-content::-webkit-scrollbar{
	display:none;
}
#proejct-page-table-no-data{
	float: inherit;
}
#proejct-page-table-img {
	width: 30%;
}
#proejct-page-table-no-data-content {
	font-size: 30px;
	font-weight: bold;
}
.project-table-member-image{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.project-table-member-td {
	padding-left: 6%;
}