.project-page-table thead>tr>th {
	text-align: center;
	padding-bottom: 17px;
	background-color: #e6e7e8;
	color:#978d8b;
}
.project-table-tr-steps {
	/* background-color: #f4faff */
	font-weight: bold;
}
.project-table-td-tstatus {
	color:#2d2d2d;
	text-align:center;
}
.project-table-tr-folders {
	/* background-color: #f4faff */
	font-weight: bold;
}
.project-table-day {
	text-align:center;
}

.project-page-table-title {
	width: 50%;
}

.project-table-tr-tasks:hover {
	cursor:pointer;
	background-color: #e0e0e0;
}