#projectinfo_outerbox{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

#projectinfo_first_row{
 display: flex;
 margin-top: 30px;
 height: 500px;
 
}

.task_progress_table_wrapper{
	overflow-y:auto;
	height: 100%
}

#projectinfo_Task_Status_Donut{
 
  margin-right: 5px;
  padding:10px;
  background-color:#f0f0f0;
  border-radius: 5px;
  box-shadow:0.5px 0.5px 0.5px 0.5px #cccccc;
  margin-bottom: 15px;
  width: 50%
  
}

#prison_Donut{
  height:350px;
  display: flex;
  align-items: center;
  justify-content: center
}

#projectinfo_Task_Situation_Table{
   overflow:hidden;

   margin-left: 5px;
   
   padding:10px;
   background-color:#f0f0f0;
   border-radius: 5px;
   box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc;
   margin-bottom: 15px;
    width: 50%
   
}

#projectinfo_Step_Progress_Graph{
   height:500px;
   margin-bottom:15px;
   padding:5px;
   background-color:#f0f0f0;
   border-radius: 5px;
   box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc;
   width: 100%;
}

#projectinfo_Project_Member_Table{
  overflow:auto;
  height:400px;
  margin-bottom:15px;
  padding:10px;
  background-color:#f0f0f0;
     border-radius: 5px;
   box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc;
  width: 100%;
}

#task_progress_table{
	text-align: center
}

#task_progress_table >tbody > tr>td:hover{
	cursor: pointer;
	background-color: #cccccc
}

#task_progress_table th {
	text-align: center;
	width : 50%
	}

#prison_progressbar{
	width: 100%;
	height: 400px
}

#project_member_table{
	text-align: center
}

#project_member_table th{
	text-align: center;
	width : 20%
}

#project_member_add_modal{
	width : 100%
}

#project_pmember_table{
	text-align: center;
}

#project_pmember_table th{
	text-align: center;
}


.information-pmember{
	cursor: pointer;
	display: flex;
	justify-content: center
}
.information-pmember-name{
	flex : 1 1 auto;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-align:left;
	text-overflow: ellipsis;
}

.information-pmember:hover{
	background-color: #cccccc
}

.delete-pmember{
	color: #eeeeee
}
.delete-pmember:hover{
	color: #e0e0e0
}

.projectinfo_Task_Situation_Table_header{
	display: flex;
	align-items: center;
	margin-bottom:5px
}
.projectinfo_Task_Situation_Table_header>b{
	flex: 1 1 auto
}

.information-item-title{
	font-size: 17px
}