.files-Table-div{
	overflow-y:auto; 
	}
.files-Table-div::-webkit-scrollbar{
	display:none;
	}
.file-table{
	width: 95%;
}
	.file-table-tr-th{
	text-align: center;
	background-color: #e6e7e8;
	color:#978d8b;
	overflow: hidden;
	
	}
	.file-table-tr-td{
		
		text-align: center;
		font-size:12px;
		border-top: 1px solid #ddd;
		
	}
	 .file-table-tr-td:hover{
		background-color:#f5f5f5;
	} 
	
	.file-table-tr-th-num{
		text-align: center;
			    border-top: 1px solid #ddd;
		padding: 8px 8px 10px 8px;
	}
	.file-table-tr-th-fname{
		text-align: center;
				    border-top: 1px solid #ddd;
				    padding: 8px 8px 10px 8px;
				    font-weight: bold;
	}
	.file-table-tr-th-tname{
		text-align: center;
			    border-top: 1px solid #ddd;
			    padding: 8px 8px 10px 8px;
	}
	.file-table-tr-td-count{
		    border-top: 1px solid #ddd;
		    padding: 8px 8px 10px 8px;
	}
	.file-table-tr-td-fname{
		    border-top: 1px solid #ddd;
		    padding: 8px 8px 10px 8px;
	}
	.file-table-tr-td-tname{
		    border-top: 1px solid #ddd;
		    padding: 8px 8px 10px 8px;
	}
	.file-table-tr-td-sname{
		color: lightgray;"
	}
	.file-table-tr-td-delete{
		float: right;
		margin-right: 5px;
    	 visibility: hidden; 
	}