@charset "UTF-8";

.modal-update-project-dialog {
   position:absolute; 
    top:50%; 
    left:50%; 
   width: 850px;
   height: 515px;
   overflow: hidden;
   vertical-align: middle;
   margin-top:-370px; 
    margin-left:-25%;
}
.modal-update-project-content {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

.modal-delete-project-dialog {
	position:absolute; 
	top:50%; 
	left:50%; 
	width: 330px;
	height: 70%;
	vertical-align: middle;
	margin-top:-125px; 
	margin-left:-230px;
}

.delete-btn {
   background-color: rgb(178, 28, 74);
   color: white;
   width: 80px;	
}

.cancel-btn {
   background-color: rgb(0, 0, 50);
   color: white;
   width: 80px;	
}