#background_div{
	
	background-color:#f0f0f0;
	width: 100%;
	height: 550px
	
}

.btn_div{
	
	background-color:#ffffff;
	width: 195px;
	height: 195px;
	border: 2px #A4A4A4 solid;
	text-align: center;
	margin: 10px;
	font-size: 13px;
	cursor: pointer;
	
}

.btn_div img{
	width: 150px;
	height: 150px;
}

.gif_images{
	display: none
}

.report_info_modal{
	width: 350px;
	margin: 0;
	padding: 0;
}

.report_info_modal_content {
  height: auto;
  min-height: 50%;
  border-radius: 0;
}

#download_report_btn{
	width: 100px
}

#report_file_name{
	width: 100%
}
