.search-bar-imo{
  margin-right: 3px;
  color: #e0e0e0;
}

.search-bar-container{
  height: 100%;
  
}
.search-nav-head{
	height: 50px;
	min-height:50px;
	max-height:50px;
	  display: flex;
  align-items: center;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16)
}

#header-right-wrapper{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#open-right-nav{
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8) ;
}
#search-bar{
	border: none;
	width:100%
}

#search-bar:focus{
	outline: none;

}
.search-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    top: 0;
    right: 0;
    background-color: white;
  	bottom:0;
  	display:flex;
  	flex-direction: column;
    transition: 0.5s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
}

#search-content-box{
	padding-top: 15px;
	padding-bottom:10px;
	
	
	
	}

.search-nav-body{

	overflow-y: auto;
	display:flex;
	flex-direction: column;
	bottom:0;
}

.search-item-box{
	display: flex;
 	align-items: center;
  	white-space: nowrap;
	width:100%;
	box-sizing: border-box;
	height: 48px;
	padding-left:10px;
	margin: 0
}

.search-item-box:hover{
	background-color: rgba(0, 0, 0, 0.04);
	cursor:pointer
}

.search-result-bundle{
	margin-bottom: 20px
}




.search-item-left {
  padding: 0 0 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center

}

.search-item-right {
  height: 100%;
  display: flex;
  padding:5px 0px 5px 0px;
  white-space: nowrap;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
}



.search-result-text{
	margin-left: 15px;
	font-weight: bold;
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 5px
}

.search-info-div{
	font-size:11px;
	height: 50%;
	display: block;
	align-items:center;
  	white-space: nowrap;
  	overflow:hidden;
  	text-overflow:ellipsis;
  	width: 100%;
 
}
.search-item-pname{

	color:rgba(0, 0, 0, 0.3);
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	border: 0.5px solid rgba(0, 0, 0, 0.04);
	font-style: italic;
}

.search-arrow{
	color:rgba(0, 0, 0, 0.1);
	margin-left: 4px;
	margin-right: 4px
}

.search-item-left-icon{
	border-radius: 50%;
	background-color:#e0e0e0;
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: flex;
	align-items:center;
  	white-space: nowrap;
  	justify-content: center;
	
}