@charset "UTF-8";
.main-body{
  display: flex;
  background: rgb(0, 0, 50);
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
.main-body .main-section-left{
  height: 100%;
  background: #ffffff;
  border-radius:3px;
  margin-left: 0.66%;
  overflow: hidden!important;
  flex: 1 1 auto;
  align-self: auto;
}
.main-section-left-container{
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
}
.main-section-left-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.main-section-center{
  width:0.66%;
  height: 100%;
  background: rgb(0, 0, 50);
}
/* List Header*/
.list-header{
  display: block;
  flex: 0 0 auto;
  align-self: auto;
  overflow: visible;
}
.list-header-top{
  display: block;
  line-height: 21px;
  min-height: 60px;
  padding: 15px 24px 0;
}
.list-header-title{
  float: left;
  min-height: 28px;
  display: block;
  margin-bottom: 4px;
  margin-right: 0;
  font-size: 20px;
}
.list-header-selector{
  clear: both;
  text-align: left;
  display: block;
  font-size: 11px;
  color: #464545;
  line-height: 18px;
  font-weight: 600;
  line-height: inherit;
  text-transform: uppercase;
}
.list-header-selector-container{
  margin-right: 32px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid transparent;
  line-height: 18px;
}
.list-header-selector-container:hover{
  border-color: #dfe6f0;
}
.list-header-selector-container-selected{
  margin-right: 32px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid transparent;
  line-height: 18px;
  border-color: #286cb0;
}
.list-header-selector-item{
  display: inline-block;
  position: relative;
  color: #646464;
}
.list-header-bottom{
  padding: 12px 24px 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  background: #f5f8fc;
  color: #6b99c7;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 45px;
  transition: height, min-height, padding-top 0.15s ease;
}
/* STATUS FILTER &TAG */
.list-header-filter{
  display: block;
  padding-bottom: 10px;
}
.list-header-filter-status{
  width: auto;
  cursor: pointer;
  border-radius: 9px;
  display: inline-block;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin: 0 2px;
  padding: 0 9px;
  user-select: none;
  white-space: nowrap;
}
.list-header-filter-status:hover{
  background-color: #dfe6f0;
}
.list-header-filter-status-selecting{
  display: block;
  position: absolute;
  z-index: 15000;
  visibility: hidden;
  left: -10000px;
  top: -10000px;
  border: none;
  background-color: #fff;
  animation: wrike-animation-fadein ease-in .1s;
  box-shadow: 0 0 6px #6f6f6f;
}
.list-header-filter-status-items{
  display: block;
  padding: 10px 0;
  overflow-y: auto;
  box-sizing: content-box;
  background-color: transparent;
  border: 0 none;
  overflow: hidden;
  list-style: none;
  margin: 0;
}
.list-header-menu-list-item,.list-header-menu-list-item-titletext{
  line-height: 100%;
  font-size: 13px;
  color: #504f4f;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: -webkit-match-parent;
}
.list-header-menu-list-item:hover{
  background-color:rgba(230, 230, 230, 0.8);
}
.list-header-menu-title{
  padding: 12px 24px 6px;
  display: block;
  color: rgba(0,0,0,.56);
  font-size: 11px;
}
.list-header-menu-list-item-container{
  padding: 7px 32px 6px 24px;
  color: rgba(0,0,0,.9);
  box-sizing: content-box;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  width: auto;
  cursor: pointer;
  display: inline-flex;
  outline-style: none;
  outline-width: 0;
  position: relative;
  text-decoration: none;
  align-items: center;
}

.color-tag{
  display: block;
  flex-direction: row;
  white-space: nowrap;
  top: 6px;
  left: 6px;
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 1px solid #fff!important;
  border-radius: 2px;
  position: static;
  margin: 3px;
  margin-right: 11px;
  padding: 0;
  background-position: center;
}
.list-header-menu-list-item-text{
  display: block;
}
/* PEOPLE FILTER & TAG*/
.list-header-filter-people{
  width: auto;
  cursor: pointer;
  border-radius: 9px;
  display: inline-block;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin: 0 2px;
  padding: 0 9px;
  user-select: none;
  white-space: nowrap;
}
.list-header-filter-people:hover{
  background-color: #dfe6f0;
}
/* SORTING BUTTON & TAG*/
.list-header-sorting{
  margin-left: -11px;
  padding-bottom: 10px;
  display: block;
}
.list-header-sorting-cover{
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
}
.list-header-sorting-button{
  margin-right: 0;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0 2px;
  padding: 0 9px;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  height: 23px;
  text-transform: capitalize;
  color: inherit;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  outline-width: 0;
  overflow: visible;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}
.list-header-sorting-button:hover{
  background-color: #dfe6f0;
}
.list-header-sorting-tag{
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-header-sorting-selecting{
  top: -20000px;
  left:-20000px;
  color: #333;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 6px #6f6f6f;
  box-sizing: border-box;
  padding: 12px 0;
  position: absolute;
  z-index: 200;
}
.list-header-sorting-container{
  display: block;
}
.list-header-sorting-item{
  cursor: pointer;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 42px 0 24px;
  position: relative;
  white-space: nowrap;
}
.list-header-sorting-item:hover{
  background-color:rgba(230, 230, 230, 0.8);
}
.list-header-sorting-textcontainer{
  display: block;
}
.list-header-sorting-text{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* List task body */
.list-task-body{
  display: block;
  position: relative;
  background-color: #ffffff;
  overflow-y: auto;
  flex: 1 1 auto;
  align-self: auto;

}
.list-task-tasklist{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list-task-lister{
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.list-task-lister-container{
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
}
.list-task-adder_containers{
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  background-color: #fff;
}
.list-task-adder{
  background: url(../img/adder.png) no-repeat 49px center #fff;
  display: block;
  box-sizing: border-box;
  padding: 10px 10px 10px 85px;
  width: 100%;
  font-size: 13px;
  line-height: 31px;
  color: #5285b8;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
  list-style: none;
}
.list-task-adder-addmode{
  display: block;
  box-sizing: border-box;
  padding: 8.5px 10px 8.5px 85px;
  width: 100%;
  font-size: 13px;
  line-height: 31px;
  color: #5285b8;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;
  list-style: none;
}
.list-task-containers{
  width: 100%;
  height: auto;
  display: block;
  flex-wrap: nowrap;
}
.list-task-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-right: 0px;
  border-left: 0px;
  margin-bottom: -1px;
  background-color: #fff;
  padding: 0 16px 0 3px;
  position: relative;
  font-weight: 600;
  box-sizing: content-box;
  height: 50px;
  background: #fff;
  top: 0;
  transition: top .15s ease-in-out,opacity .15s ease-in-out!important;
  text-decoration: none;
  cursor: pointer;
}
.list-task-container:hover{
  background-color: rgba(163, 172, 182, 0.2);
}
.list-task-checkbox-container{
  margin: 0 20px 0 0;
  flex-shrink: 0;
  position: static;
  padding-top: 0;
  padding-bottom: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.list-task-checkbox{
  margin: 0;
  display: block;
  visibility:hidden;
  background: url(../img/click1.png) 5px center no-repeat;
  height: 20px;
  width: 3px;
  cursor: pointer;
  padding-left: 19px;
}
.list-task-checkbox:hover{
  background: url(../img/click2.png) 5px center no-repeat;
}
.list-task-checkbox-selected{
  margin: 0;
  display: block;
  visibility:visible;
  background: url(../img/click3.png) 5px center no-repeat;
  height: 20px;
  width: 3px;
  cursor: pointer;
  padding-left: 19px;
}
.list-task-checkbox-selected:hover{
  background: url(../img/click4.png) 5px center no-repeat;
}
.image-container{
  box-sizing: content-box;
  width: 27px;
  height: 100px;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;

}
.profile-image{
  border: 1px solid #eee;
  width: 27px;
  height: 27px;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(33,33,33,.1);
}
.center-container{
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.task-name-container{
  box-sizing: content-box;
  font-size: 13px;
  color: #111;
  line-height: 18px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  min-width: 1em;
  border: 1px solid transparent;
  padding: 1px;
  text-overflow: ellipsis;
  margin-right: 1em;
}
.task-step-container{
  display: flex;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  position: relative;
  flex-grow: 1;
  flex-shrink: 10;
  box-sizing: border-box;
}
.task-step-container .step-container{
  font-size: 12px;
  display: inline-block;
  border-radius: 2px;
  line-height: 16px;
  padding:0 6px;
  margin: 0 6px;
  border: 1px solid #e0e0e0;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  z-index: 0;
  color: #555;
  background-color: #ffffff;
}
.status-container{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 3px 3px 2px;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 40px;
  padding: 0;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.date-container{
  flex-shrink: 0;
  font-style: italic;
  height: auto;
  margin-right: 0;
  position: relative;
  white-space: normal;
  width: 75px;
  font-size: 12px;
  color: #504f4f;
  line-height: 18px;
  font-weight: 400;
  clear: both;
  margin: 3px 9px 2px 0;
  text-align: right;
  cursor: pointer;
  flex: 0 0 auto;
  outline: none;
}


/* THIRD PANNEL - DEFAULT*/
.list-section-third-default{
  position:relative;
  display: block;
  width: 320px;
  height: 100%;
  border-radius: 2px;
  overflow: hidden!important;
  background-color:rgb(0, 0, 50);
  flex: 0 0 auto;
  align-self: auto;
}
.list-section-third-cover{
  overflow-x: hidden!important;
  padding-left: 16px;
  box-sizing: content-box;
  zoom: 1;
  position: relative;
  display: block;
}
.list-section-third-complpercent,.list-section-third-deadline,.list-section-third-completion{
  display: block;
  margin-top: 0!important;
}
.list-section-third-title{
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  background: 0 0!important;
  text-shadow: 0 1px 0 #5e5e5e!important;
  border: none!important;
  padding-top: 18px;
  font-size: 17px;
  line-height: 18px;
  user-select: none;
  cursor: default;
  color: #ffffff;
}
.list-section-third-complpercent-graph{
  background-color: white;
  display: block;
  overflow: visible;
  padding-right: 20px;
  padding-left: 8px;
  height: 200px;
  width: 200px;
}
.list-section-third-deadline-graph{
  background-color: white;
  display: block;
  overflow: visible;
  padding-right: 20px;
  padding-left: 8px;
  height: 200px;
  width: 200px;
}
.list-section-third-completion-graph{
  display: block;
  overflow: visible;
  padding-left: 8px;
  height: 250px;
  width: 250px;
}


/* THIRD PANNEL - SELECTEDPAGE*/
.list-section-third-selectpage{
  position: absolute;
  visibility: hidden;
  display: flex;
  width: 250px;
  height: 50%;
  border-radius: 2px;
  overflow: hidden!important;
  background-color:rgb(0, 0, 50);
  flex: 0 0 auto;
  align-self: auto;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 0.66%;
}
.list-section-third-selectpage-header{
  display: block;
  overflow: hidden;
  width: 250px;
  zoom: 1;
  flex: 0 0 auto;
}
.list-section-third-selectpage-header-container{
  height: 57px;
  border-bottom: 1px solid #e0e0e0;
  padding: 9px;
  display: block;
  box-sizing: content-box;
  zoom: 1;
  min-height: 57px;
}
.list-section-third-selectpage-header-close{
  display: flex;
  box-sizing: border-box;
  float: right;
  margin-top: 4px;
}
.list-section-third-selectpage-header-closebutton{
  background: #fff url(../img/index.env=web.locale=.stage=release.sprite-0.png?=jiome6s) 5px -4583px no-repeat;
  width: 1px;
  padding: 0 12px;
  font-size: 13px;
  font-weight: 400;
  color: #111;
  height: 25px;
  line-height: 24px;
  border: 1px solid #d1d1d3;
  border-radius: 2px;
  margin: 4px;
  display: table-cell;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  box-sizing: content-box;
  cursor: pointer;
}
.list-section-third-selectpage-header-title{
  box-sizing: border-box;
  font-size: 19px;
  color: #111;
  font-weight: 400;
  display: block;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9px 9px 3px 18px;
  box-sizing: border-box;
}
.list-section-third-selectpage-body{
  display: block;
  box-sizing: border-box;
  flex: 1 1 auto;
}
.list-section-third-selectpage-statuschange,.list-section-third-selectpage-addasignee,.list-section-third-selectpage-addstep,.list-section-third-selectpage-deletetask{
  overflow: auto;
  width: 250px;
  border-bottom: 1px dotted #e0e0e0;
  padding: 18px 27px 9px;
}
.selectpage-body-button{
  width: auto;
  display: block;
  margin: 0 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #689f38;
  border-color: #689f38;
  height: 25px;
  line-height: 24px;
  padding: 0 18px;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  box-sizing: content-box;
  cursor: pointer;

}
.list-section-third-selectpage-text{
  line-height: 18px;
  font-weight: 400;
  border: none;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  color: #989898;
  margin: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-decoration: inherit;
  outline: none;
  box-sizing: content-box;
  padding: 0;
  cursor: pointer;
}