.step-timeline-div {
	padding: 0px;
	height: 100%;
}

.timeline-wrapper{
	overflow: auto;
	height: 95%;
	display: flex;
}

.step-timeline-div-table{
	padding-right: 0px !important;
	padding-left: 0px !important
}

.timeline-table-header{
	display: flex;
	white-space: nowrap;
	height: 60px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	background-color: rgb(245, 245, 245)
}

.timeline-table-header > div{
	height: 100%;
	display: flex;
	text-align: center;
	font-size: 15px;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
	border-right: 1px solid #e0e0e0;
	/* border: 1px solid #e0e0e0; */
}

.timeline-table-header-no{
	width : 35px;
	min-width: 35px; 
}

.timeline-table-header-task{
    width: 100%
}
.timeline-table-header-assignee{
 	width : 50px;
	min-width: 50px; 
}

#timeline-table-body{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

.timeline-table-item{
	display: flex;
	flex-direction: row;
	height: 38px;
	border-bottom: 1px solid #e0e0e0;
	justify-content: flex-start;
	width: 100%
}

.timeline-table-item:hover{
	 background-color:#f5f5f5;
}

.timeline-table-item > div{
	height: 100%;
	display: flex;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
	border-right:  1px solid #e0e0e0;
}

.timeline-table-item-no{
	width : 35px;
	min-width: 35px;
	justify-content: center;
	font-size: 13px
}
.timeline-table-item-task{
	width : 100% ;
}

.timeline-table-item-task:hover{
	cursor: pointer;
	border: 1px solid #888888;

}
.timeline-table-item-task-name{
	font-size: 13px;
	padding-left: 15px;
	width : 100% ;
	display: block !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
}

.timeline-table-item-assignee{
  	width : 50px;
	min-width: 50px;  
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline-table-item-tstatus{
	font-size: 12px;
	font-style: italic;
	margin-right: 6px;
	text-align: right;
	width: 80px
	
}

.gantt-target {
	overflow-x:auto; 
}


.step-subheader{
	background-color: #f4faff;
	max-height: 40px;
	margin-top:10px;
	
	width:100%;
	
}


#timeline {
	overflow: auto ;
	display: flex
}

#timeline-tstatus-filter, #timeline-assignee-filter{
	float:left;
	background-color: transparent;
	border: none;
	text-align: center
}

.gantt .day-task .bar{
	fill: #b8c2cc !important ;
	
}

.gantt .day-task .bar{
	fill: #b8c2cc !important ;
	
}
.gantt .timeline-tstatus-1 .bar{
	fill: rgb(241, 196, 15) !important ;
	
}
.gantt .timeline-tstatus-2 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-3 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-4 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-5 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-6 .bar{
	fill: rgb(241, 196, 15) !important ;
	
}
.gantt .timeline-tstatus-7 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-8 .bar{
	fill: rgba(211, 84, 0, 0.74) !important ;
	
}
.gantt .timeline-tstatus-9 .bar{
	fill: rgba(211, 0, 68, 0.74) !important ;
	
}
.gantt .timeline-tstatus-10 .bar{
	fill: rgb(142, 68, 173) !important ;
	
}
.gantt .timeline-tstatus-11 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-12 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-13 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-14 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-15 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-16 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-17 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}

.gantt .sample-task .bar{
	fill: none;
	
}

.gantt .sample-task .bar:hover{
	cursor: inherit;
	
}

