.step-timeline-div {
	padding: 0px;
	height: 100%
}

.step-timeline-div thead, thead>tr {
	height: 60px;
	padding: 5px;
}

.table-responsive.step-timeline-table thead>tr>th {
	text-align: center;
	font-size: 15px;
	padding-bottom: 14px
}

.table-responsive.step-timeline-table tbody>tr {
	height: 38px;
}



.gantt-target {
	height: 100%
}

#timeline-table, #timeline-table>tr, td, th, thead, tbody {
	border: 0.5px solid rgba(0, 0, 0, 0.08);
	border-collapse: collapse;
}

#timeline {
	padding-left: 20px;
	padding-right: 20px;
	height: calc(100% - 170px)
}