.file-table{
		width: 100%;
		margin: auto;
		border: 3px solid #d9d9d9;
	}
	.file-table-tr-th{
		background-color: #e6e6e6;
		height: 45px;
		text-align: center;
		font-size: 18px;
	
	}
	.file-table-tr-td{
		height: 40px;
		text-align: center;
		font-size:14px;
		
	}
	 .file-table-tr-td:hover{
		background-color:#f5f5f5;
	} 
	
	.file-table-tr-th-num{
		text-align: center;
	}
	.file-table-tr-th-fname{
		text-align: center;
	}
	.file-table-tr-th-tname{
		text-align: center;
	}
	.file-table-tr-td-sname{
		color: lightgray;"
	}
	.file-table-tr-td-delete{
		float: right;
		margin-right: 20px;
    	 visibility: hidden; 
	}