.step-timeline-div {
	padding: 0px;
	height: 100%;
}

.timeline-wrapper{
	overflow: auto;
	height: 100%;
	display: flex
}

.step-timeline-div-table{
	padding:0px
}

.step-timeline-div thead, thead>tr {
	height: 60px;
	max-height:60px;
	padding: 5px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.table-responsive.step-timeline-table thead>tr>th {
	text-align: center;
	font-size: 15px;
	padding-bottom: 14px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.table-responsive.step-timeline-table tbody>tr {
	height: 38px;
	max-height: 38px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.table-responsive.step-timeline-table tbody>tr,td {
	vertical-align: middle !important;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	max-width: 150px
}



.gantt-target {
	overflow-x:auto; 
}


.step-subheader{
	background-color: #f4faff;
	max-height: 40px;
	margin-bottom: 15px;
	margin-top:10px;
	
	width:100%;
	
}


#timeline-table, #timeline-table>tr, td, th, thead, tbody {
	border: 0.5px solid rgba(0, 0, 0, 0.08);
	border-collapse: collapse;
}

#timeline {
	padding-left: 20px;
	padding-right: 20px;
	height: calc(100% - 170px);
	overflow: auto 
}

#timeline-tstatus-filter, #timeline-assignee-filter{
	float:left;
	margin: 10px;
	background-color: transparent;
	border: none;
	text-align: center
}

.gantt .day-task .bar{
	fill: #b8c2cc !important ;
	
}

.gantt .day-task .bar{
	fill: #b8c2cc !important ;
	
}
.gantt .timeline-tstatus-1 .bar{
	fill: rgb(241, 196, 15) !important ;
	
}
.gantt .timeline-tstatus-2 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-3 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-4 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-5 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-6 .bar{
	fill: rgb(241, 196, 15) !important ;
	
}
.gantt .timeline-tstatus-7 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-8 .bar{
	fill: rgba(211, 84, 0, 0.74) !important ;
	
}
.gantt .timeline-tstatus-9 .bar{
	fill: rgba(211, 0, 68, 0.74) !important ;
	
}
.gantt .timeline-tstatus-10 .bar{
	fill: rgb(142, 68, 173) !important ;
	
}
.gantt .timeline-tstatus-11 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-12 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-13 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-14 .bar{
	fill: rgb(46, 204, 113) !important ;
	
}
.gantt .timeline-tstatus-15 .bar{
	fill: rgb(52, 152, 219) !important ;
	
}
.gantt .timeline-tstatus-16 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}
.gantt .timeline-tstatus-17 .bar{
	fill: rgb(127, 127, 127) !important ;
	
}





.gantt .day-task .bar{
	fill: #b8c2cc !important ;
	
}


.gantt .no-day-task .bar{
	fill: #b8c2cc;
}
.gantt .sample-task .bar{
	fill: none;
	
}

.gantt .sample-task .bar:hover{
	cursor: inherit;
	
}

.timeline-task-edit:hover{
  border: 1px solid #a0a0a0;
  cursor: pointer;
}