@charset "UTF-8";
.stream-main-container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:#f4f6f8;
    overflow-y: auto;
    padding-bottom: 5%
}

.stream_main{
	display : inline-block;
	width:75%;
	max-width:750px;
	text-align: left;
	padding: 15px 0 15px 0;
}
.stream_task_division{
	border-radius: 5px;
}


.stream_hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.stream_list{
	padding: 10px;
	font-size: 13px;
	display: flex;
white-space:nowrap;
align-items: center;

}

.stream_header{
	margin-left :10px;
	margin-top: 10px;
	float:left;
	font-size: 15px;
	font-weight:bold;
	color: #6b99c7;
	flex : 1 1 auto
}
.stream_header_container{
	height : 51px;
	display: flex;
	align-items: center;	
}
.stream_stepname{
	border: 1px solid rgb(200, 201, 203);
	padding-left: 3px;
	padding-right: 3px;
	font-size : 12px;
	margin-right: 5px;
}


#pidselect{
	border: none;
	background-color: transparent;
	color:#6b99c7;
	margin-right: 60px !important;
	width: 200px
}

#pidselect>option{
	width: 200px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	
}

.stream-third-pannel{
	height: 100%;
	background-color: white;
	border-radius: 5px;
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-right: 10px
}

.stream-third-pannel-header{
	border-bottom: 1px solid #e8e8e8;
	min-height: 51px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
}
.stream-select-menu{
	flex: 1 1 auto;
	display: flex;
	overflow-y:auto;
	flex-direction: column;
	padding: 7px 0 7px 0
}
.stream-select-list{
	display: flex;
	padding: 5px 5px 5px 8px;
}

.stream-select-list:hover{
	cursor: pointer;
	background-color: #e8e8e8;
}

.stream-project-select-method{
	min-width:32px;
}
.stream-project-method-icon{
	border-radius: 50%;
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e0e0e0;
	color:white
}
.stream-project-select-info{
	overflow: hidden;
	height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;

	padding-left: 8px
}
.stream-project-select-info-pname{
	display: block;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px
	
}

.stream-project-select-info-mid{
	display: flex;
}

.stream-project-select-info-mid>p{
	font-size: 10px;
	margin-bottom: 0 !important;
	color:rgba(0, 0, 0, 0.5)
}

.stream_division{
	display:flex;
	flex-direction:column;
	border-radius: 5px;
	background-color: white;
	margin-top: 15px;
	margin-left:5px;
	margin-right:5px;
	padding:15px;
	box-shadow: 0.5px 0.5px 1px 1px #cccccc;
	
}

.stream_division-header{
	height: 70px;
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}
.stream_division-header:hover{
	cursor: pointer;
	background-color: #e8e8e8;
}
.stream_division-body{
	display: block;
	max-height: 350px;
	overflow-y:auto 
	
}


.stream_division-header-tname{
	padding:8px  15px 8px 15px;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
.stream_division-header-sname-wrapper{
	display: flex;
	padding: 0 15px 0 15px
}
.stream_division-header-sname{
	text-overflow:ellipsis;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
	font-size: 10px;
	padding:1.5px;
	margin-right:4px;
	max-width:70px;
	min-width:30px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	color:rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.03)
}

.stream_division-body-comment-wrapper{
	flex-direction: column;
	display: flex;
	padding: 20px;
	background-color: #f4f6f8;

}


.steam-comment-item{
	margin: 0 0 15px 0;
	display: flex
}

.steam-comment-item-img{
	
	
}

.steam-comment-item-info{
	display: flex;
	flex-direction:column;
	justify-content: center;
	flex:1 1 auto
}

.stream_comments{
	width:100%;
	display:flex;
	align-items:center;	
	min-height:30px;
	overflow:hidden;
	white-space:normal;
	text-overflow:ellipsis; 
	padding-left: 10px;
}

.stream_comments_time{
	text-align: right;
	font-size: 13px;
	font-style: italic;
	color: #cccccc
}

#stream-current-project{
	text-align: left;
	padding:15px;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	 font-weight: bold;
}
.no-stream-div-msg{
	text-align: center;
	font-size: 30px;
	font-weight:bold;

	color: #cccccc
}
