@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

#star_trash{
  text-align: right;
}

#task_star{
 color : #ffc30d
}

.modal-task-delete{
	 display: inline-block;
     text-align: left;
     vertical-align: right;
}

#steplist_in_taskmodal th{
	text-align: center;
}

#steplist_in_taskmodal td{
	text-align: center;
}

.taskmodal_memberprofile{
	  width: 40px;
	  height:40px;
	  border-radius: 20px
}

#Task_Modal_tstatus_selectbox{
	font-size: 12px;
	height: 50px;
	width: 100px;
	margin: -15px -15px -15px -10px
}


#Task_Modal_sday{
	  width: 140px;
}

#Task_Modal_eday{
	  width: 140px;
}

#Task_Modal_assignee{
     text-align: center;
}


assignee_in_taskmodal th{
	text-align: center;
}

assignee_in_taskmodal td{
	text-align: center;
}

#add_sub_task{
	width: 500px;
}


.hover_div{
	cursor: pointer;
	margin: 10px 10px 10px 25px;
	font-size: 15px;
	display: flex;
	white-space:nowrap;
	align-items: center
}

.hover_div:hover{
	cursor: pointer;
	margin: 10px 10px 10px 20px;
	font-size: 15px;
	background-color: rgba(163, 172, 182, 0.2);
}

.subtask_name{
	overflow:hidden;
	display:block;
	flex: 1 1 auto;
}

.subtask_del_btn{
	flex: 0 0 auto;
	display: block;
	cursor: pointer;
	visibility: hidden
}


.subtask_checked {
  text-decoration: line-through;
  font-size: 15px;
  
}

.subtask_unchecked {
  font-size: 15px;
}

#task_detail_status{
	width: 20px;
	height:20px;
}
