@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

#star_trash{
  text-align: right;
}

#task_star{
 color : #ffc30d
}

.modal-task-delete{
	 display: inline-block;
     text-align: left;
     vertical-align: right;
}

#steplist_in_taskmodal th{
	text-align: center;
}

#steplist_in_taskmodal td{
	text-align: center;
}

.taskmodal_memberprofile{
	  width: 40px;
	  height:40px;
	  border-radius: 20px
}

#Task_Modal_tstatus_selectbox{
	font-size: 12px;
	height: 100%;
	width: 100%;
	text-align: center
	/* margin: -15px -15px -15px -10px */
}


#Task_Modal_sday{
	  width: 140px;
}

#Task_Modal_eday{
	  width: 140px;
}

#Task_Modal_assignee{
     justify-content:center;
     align-items:center;
     min-height: 50px;
     display: flex;
     padding: 10px
     
}


assignee_in_taskmodal th{
	text-align: center;
}

assignee_in_taskmodal td{
	text-align: center;
}

#add_sub_task{
	width: 500px;
}


.hover_div{
	cursor: pointer;
	margin: 10px 10px 10px 25px;
	font-size: 15px;
	display: flex;
	white-space:nowrap;
	align-items: center
}

.hover_div:hover{
	cursor: pointer;
	margin: 10px 10px 10px 20px;
	font-size: 15px;
	background-color: rgba(163, 172, 182, 0.2);
}

.subtask_name{
	overflow:hidden;
	display:block;
	flex: 1 1 auto;
}

.subtask_del_btn{
	flex: 0 0 auto;
	display: block;
	cursor: pointer;
	visibility: hidden
}


.subtask_checked {
  text-decoration: line-through;
  font-size: 15px;
  
}

.subtask_unchecked {
  font-size: 15px;
}

#task_detail_status{
	width: 20px;
	height:20px;
	visibility: hidden
}

#Task_Modal_comments{

   overflow:auto;
   height:400px;
   margin: 10px;
   padding:10px;
   background-color:#f0f0f0;
   border-radius: 10px;

}

.taskmodal_memberprofile2{
	
	  width: 40px;
	  height:40px;
	  border-radius: 20px;
	  float:left
	  
}

.each_comment{
    margin-left: 10px;
    float:left;
    font-size: 13px
}

.wrapper_comment{
  display: flex;
  white-space:nowrap;
  align-items: center
}

.second_row{
 	margin-top: 5px;
}

#comment_input_box_in_taskmodal{
	border:none;
	width: 100%;
}

#comment_input_box_in_taskmodal:focus {
  outline: none;
}

#comment_input_box_in_taskmodal_noredirect{
	border:none;
	width: 100%;
}

#comment_input_box_in_taskmodal_noredirect:focus {
  outline: none;
}

#project_member_popup_div{
  display: none;
  position: absolute;
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 10;
}

#project_member_popup_div2{
  display: none;
  position: absolute;
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 50000;
}

.popup_mid{
	cursor: pointer;
	padding : 10px;
}

.popup_mid:hover{
	cursor: pointer;
	background-color: rgba(163, 172, 182, 0.2);
}

.popup_mid2{
	cursor: pointer;
	padding : 10px;
}

.popup_mid2:hover{
	cursor: pointer;
	background-color: rgba(163, 172, 182, 0.2);
}

#receivermid{
	width: 80px;
	background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px
}


#receivermid2{
	width: 80px;
	background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px
}

#comment_input_box_in_taskmodal2{
	border:none;
	width: 450px;
}

#comment_input_box_in_taskmodal2:focus {
  outline: none;
}

#step_names_popup_div{
  display: none;
  position: absolute;
  background-color : #FFFFFF; 
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 3;
}

#step_names_popup_div2{
  display: none;
  position: absolute;
  background-color : #FFFFFF; 
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 3;
}

.popup_sid{
	cursor: pointer;
	padding : 10px;
}

.popup_sid:hover{
	cursor: pointer;
	background-color: rgba(163, 172, 182, 0.2);
}

.popup_sid2{
	cursor: pointer;
	padding : 10px;
}

.popup_sid2:hover{
	cursor: pointer;
	background-color: rgba(163, 172, 182, 0.2);
}

#assignee_popup_div{
  display: none;
  position: absolute;
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 3;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc;
  background-color: #fcfcff !important;
  min-height: 40px;
  
}

.popup_member{
	cursor: pointer;
	padding : 10px;
}

.popup_member:hover{
	cursor: pointer;
	background-color: rgba(163, 172, 182, 0.2);
}

#step_delete_popup_div{
  text-align : center;
  display: none;
  position: absolute;
  background-color : #FFFFFF; 
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 3;
  width: 300px;
  height: 100px;
}

#Task_Modal_tname_input{
	display: none;
	width: 450px;
	float: left;
}

.file_del_btn{
	flex: 0 0 auto;
	display: block;
	cursor: pointer;
	visibility: hidden
}

.file_name{
	overflow:hidden;
	display:block;
	flex: 1 1 auto;
}

.filehover_div{
	cursor: pointer;
	margin: 10px 10px 10px 25px;
	font-size: 15px;
	display: flex;
	white-space:nowrap;
	align-items: center
}

.filehover_div:hover{
	cursor: pointer;
	margin: 10px 10px 10px 20px;
	font-size: 15px;
	background-color: rgba(163, 172, 182, 0.2);
}

#step_delete_popup_div2{
  text-align : center;
  display: none;
  position: absolute;
  background-color : #FFFFFF; 
  left : -20000px;
  top : -20000px;
  float: left;
  z-index: 3;
  width: 300px;
  height: 100px;
}
/*////////////// 태스크 모달창 수정 CSS ////////////////*/

.task-modal-wrapper{
	width:700px
}
.task-modal-body{
	display: flex;
	flex-direction:column;
	padding: 0 10px 0 10px 
}

.task-modal-content-row{
	display: flex;
	min-height: 70px;
	justify-content: center;
	border-bottom:1px solid #eee
}

.task-modal-content-td{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto
}

.task-modal-content-assignee{
	display: flex;
	flex-direction: column;
	border-bottom:1px solid #eee;
	margin-bottom: 15px;
	
}
